@font-face {
  font-family: "nunito";
  src: url("../Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "nunito";
  src: url("../Nunito/Nunito-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "nunito";
  src: url("../Nunito/Nunito-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: "nunito";
}

p {
  font-size: 1.125em;
  line-height: 1.6em;
}

/* header */
header {
  width: 100%;
  background-color: #000;
  height: 70px;
  padding: 15px 0 15px 0;
}

.logo-ancora {
  text-decoration: none;
}

header span {
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1.125em;
  text-transform: uppercase;
  position: relative;
  bottom: 10px;
}

.menu a img {
  float: left;
}

.header-menu {
  float: right;
}

.header-menu ul {
  float: right;
  margin-top: 1.6em;
  position: relative;
  bottom: 10px;
}

.header-menu ul li {
  display: inline;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  margin-left: 20px;
}

.header-menu ul a {
  text-decoration: none;
}

.header-menu ul li:hover {
  color: #b82601;
}
/* Introdução */

.introducao-certificados {
  width: 100%;
  background: url("../img/bg-certificados.jpg");
  text-align: center;
  height: 160px;
  padding: 30px;
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}

.introducao-certificados p::before {
  content: " ";
  display: block;
  width: 80px;
  height: 4px;
  background: #000;
  margin: 10px auto;
}

/* Imagens*/

.certificados {
  padding: 40px 0;
  text-align: center;
}

.certificados-img {
  margin-bottom: 10px;
  position: relative;
}
@media only screen and (max-width: 787px) {
  .certificados-img {
    width: 90%;
  }
}
.slider {
  margin: 0 10px;
  height: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
.slider img {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

#previous,
#next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 25px);
  left: 20px;
}
#next {
  left: unset;
  right: 20px;
}

.certificados p {
  margin: 25px auto 7px auto;
}

.certificados-img img {
  margin-bottom: 20px;
}

.btn {
  border: 4px solid #b82601;
  padding: 7px 14px;
  color: #b82601;
  text-decoration: none;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  width: 190px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.btn:hover {
  color: #000;
  border-color: #000;
}

/* Footer */

h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.625em;
}

.footer h3::after {
  margin: 10px 0 10px 0;
  content: " ";
  display: block;
  width: 80px;
  height: 4px;
  background: #fff;
}

.footer {
  padding-top: 20px;
  color: #fff;
  background: #000;
}

.footer h2::after {
  margin: 10px 0 10px 0;
}

.footer p {
  margin-bottom: 20px;
}

.redes-sociais {
  float: right;
}

.redes-sociais svg {
  float: right;
  margin-left: 20px;
  margin-top: 40px;
  fill: #fff;
}

.redes-sociais svg:hover {
  fill: #b82601;
}

.feito-por {
  width: 100%;
  padding: 18px;
  text-transform: uppercase;
  color: #000;
  background: #fff;
}

.feito-por p {
  margin: 0 10px;
}

/* Teste 
.icon {
  display: none;
}
